<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ campaign[1] }}</title>
  </head>
  <body>
    <h1>{{ campaign[1] }}</h1>
    <h2>{{ campaign[2] }}</h2><br><br>
    <form method="post" action="/create-character/{{ campaign[0] }}">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required><br><br>
      <label for="name">Race/Type</label>
      <input type="text" id="race" name="race" required><br><br>
      <label for="name">Class/Profession</label>
      <input type="text" id="class" name="class" required><br><br>
      <input type="submit" value="create"><br><br>
    </form>
    <h2>Characters:</h2><br>
    <label for="search">Search</label>
    <input type="text" id="search"><br>
    <ul id="characters">
    {% for character in characters %}
      <li class="character" data-name="{{ character[1] }}">
      <img src="{{url_for('static', filename='images/default_character_image.jpeg')}}" width="200px">
      <h2><b>{{ character[1] }}</b></h2>
      <p>{{ character[2] }}</p>
      <p>{{ character[3] }}</p>
      <form method="POST" action="/delete-character/{{ character[0] }}">
        <input type="submit" value ="delete">
      </form>
      </li>
      {% endfor %}
    </ul>
  <script>
    const input = document.getElementById('search')
    const characters = document.getElementsByClassName('character')
    input.addEventListener('input', (e) => {
      for (let i = 0; i < characters.length; i++) {
        if (characters[i].dataset.name.includes(input.value.trim())) {
          characters[i].style.display = 'block'
        } else {
          characters[i].style.display = 'none'
        }
      }
    })  
  </script>
  </body>
</html>
