<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    {% if user %}
      <p>Hello, {{ user['username'] }}! You are logged in</p>
      <a href="/campaigns">Your Campaigns</a><br><br>
      <a href="/logout">Logout</a>
    {% else %}
      <p>Welcome, <a href="/login">login</a> to access the content.</p>
    {% endif %}
  </body>
</html>
